---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
---

<Layout title="Home | Hamsa Education">
  <main class="mt-24 w-full min-h-screen">
    <Hero />
    <svg
      class="w-full relative top-8 -z-50"
      viewBox="0 0 1440 367"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1440 0L1380 49.2731C1320 97.6968 1200 195.394 1080 232.773C960 269.303 840 244.667 720 225.977C600 208.137 480 195.394 360 202.19C240 208.137 120 232.773 60 244.667L0 256.56V367H60C120 367 240 367 360 367C480 367 600 367 720 367C840 367 960 367 1080 367C1200 367 1320 367 1380 367H1440V0Z"
        fill="#F7C714"></path>
    </svg>
    <div class="w-full text-white bg-[#F7C714]">
      <div class="container mx-auto md:max-w-6xl flex items-center">
        <svg
          class="absolute left-0"
          width="92"
          height="107"
          viewBox="0 0 92 107"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M41.2888 15.7921L19.5528 0L-28 34.5491L-9.83644 90.4509H21.1012L48.0805 106.027L91.7615 66.6969L67.8541 13L41.2888 15.7921ZM44.916 18.4274L41.2888 15.7921L9.39757 19.144L-2.82318 76.6381L21.1012 90.4509H27.1012L47.6929 102.339L88.1343 65.9259L66 16.2114L44.916 18.4274ZM44.916 18.4274L67.1057 34.5491L48.9421 90.4509H27.1012L0.564436 75.1298L11.8788 21.8998L44.916 18.4274Z"
            fill="white"></path>
        </svg>
        <svg
          class="absolute right-0 top-[900px]"
          width="136"
          height="160"
          viewBox="0 0 136 160"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_f_104_44613)">
            <path
              d="M158.413 39.9917L4.00001 4.33889L50.3305 155.891L57.0214 148.716L16.4271 15.9279L151.723 47.1665L158.413 39.9917Z"
              fill="white"></path>
            <path
              d="M143.847 55.6112L31.0539 29.5682L64.8966 140.272L143.847 55.6112Z"
              fill="white"></path>
          </g>
          <defs>
            <filter
              id="filter0_f_104_44613"
              x="0"
              y="0.338867"
              width="162.413"
              height="159.552"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"></feBlend>
              <feGaussianBlur
                stdDeviation="2"
                result="effect1_foregroundBlur_104_44613"></feGaussianBlur>
            </filter>
          </defs>
        </svg>
        <svg
          class="absolute left-0 top-[820px]"
          width="94"
          height="157"
          viewBox="0 0 94 157"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.2346 52.3888L79.7783 38.4691L91.0795 77.8808L42.5357 91.8005L40.6132 92.3518L41.1645 94.2743L55.0842 142.818L15.6725 154.119L1.75276 105.575L1.20149 103.653L-0.721038 104.204L-49.2647 118.124L-60.5659 78.7121L-12.0222 64.7924L-10.0996 64.2412L-10.6509 62.3186L-24.5706 13.7749L14.8411 2.4738L28.7608 51.0175L29.3121 52.94L31.2346 52.3888Z"
            stroke="white"
            stroke-width="4"></path>
        </svg>
        <div class="space-y-4 px-8">
          <h1 class="text-4xl w-[580px] font-extrabold">
            Temukan Program Belajar khusus untuk anak ayah bunda
          </h1>
          <button class="py-2 px-4 bg-sky-700 rounded-lg text-white"
            >Lihat Program Belajar</button
          >
        </div>
        <div class="-mt-52">
          <Image src={"/vector-anak.png"} width={500} height={500} alt="" />
        </div>
      </div>
    </div>
    <div
      class="container mx-auto md:max-w-6xl py-56 flex justify-center gap-12"
    >
      <div class="flex-1">
        <h1 class="text-3xl font-bold">
          <span
            class="bg-gradient-to-r from-amber-400 to-amber-200 bg-[length:0px_20px] bg-left-bottom bg-no-repeat transition-[background-size] duration-300 hover:rotate-2 hover:bg-[length:100%_20px] group-hover:bg-[length:100%_10px]"
            >Profile Hamsa Education</span
          >
        </h1>
        <p class="mt-4 text-xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          doloribus ducimus ut? Odio odit error illum natus veritatis sunt
          maxime illo labore quia recusandae, dolores nemo quam laborum animi
          eius quisquam rerum quas delectus voluptas consequatur totam! Neque
          dolorem sapiente recusandae atque inventore doloremque aperiam
          explicabo voluptates facere voluptatem laboriosam odit officia,
          reiciendis dignissimos laudantium qui excepturi natus velit, porro
          sit, nam voluptatum? Soluta consequatur dolorem cupiditate fugit eius
          a quo iure? Necessitatibus, harum eligendi? Repellat dicta incidunt
          sequi cumque quisquam amet perferendis alias pariatur! Sint aliquid
          quibusdam molestiae soluta tempora ea, voluptatum nostrum distinctio,
          eum dolor, ipsum praesentium eveniet iste! Possimus vero quo ipsum
          laudantium dolor debitis expedita totam harum nam tenetur placeat
          consequuntur ex a rerum ut, amet fugit dolores eveniet aut saepe,
          illum, voluptatem quibusdam rem! Cumque voluptates fugit molestiae
          nesciunt qui quasi vero vitae libero error aperiam. Sapiente,
          quibusdam? Animi, natus inventore officiis dolorum quam maxime saepe
          possimus optio dolore id illum sed temporibus amet eos recusandae quod
          iure excepturi quas magnam ipsa, ut ipsum suscipit exercitationem. Cum
          repudiandae commodi id at, aliquam neque error sunt molestias, aperiam
          asperiores accusantium. Dicta nam obcaecati quia, tempore minus rerum
          cumque! Reiciendis porro vitae voluptate dolorem quae, inventore odio!
        </p>
      </div>

      <Image
        class="relative -z-10 flex-1 object-cover"
        src={"http://source.unsplash.com/random/500x500"}
        width={100}
        height={100}
        alt=""
      />
    </div>
  </main>
</Layout>
